.mainHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
}

.headerContent {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogoLink {
    margin-left: 2rem;
}

.headerNavigation {
    margin-right: 2rem;
    display: flex;
    gap: 1rem;
}

.headerNavLink {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;

}