.adminPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
}

.adminContent {
    position: absolute;
    right: 2rem;
    margin-top: 1rem;
    width: calc(100% - 24rem);
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5rem;
}