.adminSidebar {
    width: 20rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-dark);
}

.adminSidebarNavigation {
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.adminNavLink {
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    color: var(--text-contrast);
    text-decoration: none;
}

.logoutBox {
    margin-bottom: 2rem;
}